Flask==3.0.3; python_version >= '3.11'
numpy==1.26.4; python_version >= '3.11'
opencv_python==4.9.0.80; python_version >= '3.11'
Pillow==10.3.0; python_version >= '3.11'
torch==2.3.0; python_version >= '3.11'
torchvision==0.18.0; python_version >= '3.11'
ultralytics==8.2.26; python_version >= '3.11'
Werkzeug==3.0.3; python_version >= '3.11'
